﻿@model IEnumerable<WebApplication.Models.PurchaseOrderDetail>


<div class="box box-primary box-solid">
    <div class="box-header with-border">
        
        <h1 class="box-title">List of Items from P.O #</h1>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="po-all-items" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Unit</th>
                    <th>Item</th>
                    <th>P.O Qty</th>
                    <th>Del Qty</th>
                    <th>Rem Qty</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Stock.Unit.UnitName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Stock.Description)</td>
                        <td class="text-center bg-green">@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td></td>
                        <td></td>
                        <td>
                            @using (Html.BeginForm("CreatePODetails", "DeliveryDetails", FormMethod.Post, new { id = $"form_add_deliverydetails_{@item.ID}" }))
                            {
                                
                                    @Html.AntiForgeryToken()
                                    <a class="badge bg-green"
                                       data-toggle="confirmation"
                                       title="Enter Quantity (@item.Stock.Unit.UnitName) :"
                                       data-html="true"
                                       data-placement="top"
                                       data-singleton="true"
                                       data-popout="true"
                                       data-btn-ok-label="Ok ^_^" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                       data-btn-cancel-label="Cancel" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                       data-content="
                                        
                                        <input type='hidden' name='DeliveryID' id='DeliveryID' value='@ViewBag.delID'>
                                        <input type='hidden' name='StockID' id='StockID' value='@item.StockID'>
                                        <input type='number' name='Quantity' id='Quantity' class='form-control'>"

                                       href="javascript:document.getElementById('form_add_deliverydetails_@item.ID').submit()">Select this</a>
                               
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Unit</th>
                    <th>Item</th>
                    <th>P.O Qty</th>
                    <th>Del Qty</th>
                    <th>Rem Qty</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")

    <script type="text/javascript">
        $(document).ready(function(){
            $('#addpodetails').on("submit", function(event){
                event.preventDefault();

                $.ajax({
                    url:"/DeliveryDetails/CreatePODetails",
                    method:"POST",
                    data:$('#addpodetails').serialize(),

                    success:function(data){
                        if(data == "0"){
                            if(confirm(stock+" is already is list. Add quantity instead?"))
                            {
                                execute();
                            }
                            else
                            {

                            }
                        }
                    }

                });
            });

        });
    </script>

}