﻿@model IEnumerable<WebApplication.Models.PurchaseRequest>


<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">List of all recorder stock Units</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="units-all" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CostCenter.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.PrNumber) </th>
                    <th>@Html.DisplayNameFor(model => model.Date) </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CostCenter.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @using (Html.BeginForm("Edit", "PurchaseRequests", new { id = item.ID }, FormMethod.Post, new { id = $"update_purchaserequest_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-yellow"
                                    data-toggle="confirmation"
                                    title="Editing @item.PrNumber"
                                    data-html="true"
                                    data-placement="top"
                                    data-singleton="true"
                                    data-popout="true"
                                    data-btn-ok-label="Update" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                    data-btn-cancel-label="Cancel" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                    data-content="
                                   <div class='form-group'>
                                        <label class='control-label col-md-2'>PR #</label>

                                        <div class='col-md-12'>
                                            <input type='text' name='PrNumber' id='PrNumber' class='form-control' value='@item.PrNumber'>
                                        </div>
                                        <label class='control-label col-md-4'>Cost Center</label>

                                        <div class='col-md-12'>
                                            <select id='CostCenterID' name='CostCenterID' class='form-control'>
                                        
                                            @foreach (var u in ViewBag.CostCenters)
                                            {
                                                <option value='@u.ID'  @(u.ID == item.CostCenterID ? "selected":"")>
                                                    @u.Description
                                                </option> 
                                            }
                                            </select>
                                        </div>
                                        <label class='control-label col-md-1'>Date</label>

                                        <div class='col-md-12'>
                                           <input type='text' name='Date' class='form-control' value='@item.Date'>
                                        </div>
                                    </div>
                                           "
                                           href="javascript:document.getElementById('update_purchaserequest_@item.ID').submit()">Edit
</a>
                            }

                          
                            
                            @using (Html.BeginForm("Delete", "PurchaseRequests", new { id = item.ID }, FormMethod.Post, new { id = $"delete_purchaserequest_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-red"c
                                    data-toggle="confirmation"
                                    data-title="Remove @item.PrNumber from record?"
                                    data-btn-ok-label="Yes" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                    data-btn-cancel-label="No" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                    data-singleton="true"
                                    data-popout="true"
                                    href="javascript:document.getElementById('delete_purchaserequest_@item.ID').submit()">Remove</a>
                             }                                                   
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CostCenter.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.PrNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.Date)</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")

}