﻿@model IEnumerable<WebApplication.Models.CostCenter>


<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">List of all recorder Cost Center</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="units-all" class="table table-bordered table-hover">
            <thead>
                <tr>
                    
                    <th>@Html.DisplayNameFor(model => model.Description) </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @using (Html.BeginForm("Edit", "CostCenters", new { id = item.ID }, FormMethod.Post, new { id = $"update_costcenter_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-yellow"
                                    data-toggle="confirmation"
                                    title="Editing Cost Center"
                                    data-html="true"
                                    data-placement="top"
                                    data-singleton="true"
                                    data-popout="true"
                                    data-btn-ok-label="Update" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                    data-btn-cancel-label="Cancel" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                    data-content="
                                    <div class='form-group'>
                                        <label class='control-label col-md-1'>Description</label>

                                        <div class='col-md-12'>
                                           <textarea name='Description' row='4' id='Description' class='form-control'> @item.Description </textarea>
                                        </div>
                                    </div>
                                            "
                                    href="javascript:document.getElementById('update_costcenter_@item.ID').submit()">Edit</a>
                            }

                          
                            
                            @using (Html.BeginForm("Delete", "CostCenters", new { id = item.ID }, FormMethod.Post, new { id = $"delete_costcenter_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-red"c
                                    data-toggle="confirmation"
                                    data-title="Remove @item.Description from record?"
                                    data-btn-ok-label="Yes" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                    data-btn-cancel-label="No" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                    data-singleton="true"
                                    data-popout="true"
                                    href="javascript:document.getElementById('delete_costcenter_@item.ID').submit()">Remove</a>
                             }                                                   
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>