﻿@model WebApplication.Models.CostCenter
@{
    ViewBag.Title = "Cost Centers";
    ViewBag.SubTitle = "Sections";

}
@section Menu {

    <script type="text/javascript">
        var menuItem = $('#left-sidebar-menu-p6m');
        menuItem.addClass('active');
        var subMenuItem = menuItem.find('#left-sidebar-menu-p6m-costcenter');
        subMenuItem.addClass('active');

        $(document).ajaxStart(function () {
            $("#loading").show();
        });

        $(document).ajaxComplete(function () {
            $("#loading").hide();
        });


    </script>
}

@Styles.Render("~/Content/plugins/datatables/css")

<div class="row">
    <div class="col-xs-8" id="costcenter_list">
        <div class="col-xs-12 text-center" id="loading">
            <button type="button" class="btn btn-default btn-lrg ajax" title="Ajax Request">
                <i class="fa fa-spin fa-refresh"></i>&nbsp; Loading content...
            </button>
        </div>
    </div>



    <div class="col-xs-4">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Add Cost Center</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                @using (Html.BeginForm("Create", "CostCenters", FormMethod.Post, new { id = "form_add_unit" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">Description</label>

                            <div class="col-md-12">
                                <textarea class = "form-control" rows="4" name = "Description" placeholder = "Cost center description"></textarea>
                                
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- /.box-body -->
        </div>
    </div>


</div>

@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/js")
    @Scripts.Render("~/Scripts/jquery-validate/js")

    <script type="text/javascript">
        $(function () {

            $.ajax({
                url: '/CostCenters/GetList',
                dataType: 'html',
                success: function (data) {

                    $('#costcenter_list').html(data);

                    var table = $('#units-all').DataTable({
                        drawCallback: function () {
                            $('[data-toggle=confirmation]').confirmation({
                                rootSelector: '[data-toggle=confirmation]',
                                // other options
                            });
                        }
                    });

                }
            });


            $("#form_add_unit").validate({
                errorElement: "span",
                errorClass: "help-block text-red",
                submitHandler: function (vform) {
                    vform.submit();
                },
                rules: {
                    Description: {
                        required: true,
                        minlength: 2
                    }
                },
                messages: {
                    Description: {
                        required: "Not submitted! Text field cannot be empty.",
                        minlength: jQuery.validator.format("At least {0} characters required!")
                    }
                }
            });


        });
    </script>
}
