﻿@model IEnumerable<WebApplication.Models.Requisition>


<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">List of all Requisitions</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="ris-all" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>RIS #</th>
                    <th>P.O #</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ReNumber</td>
                        <td>@item.PurchaseOrder.PoNumber</td>
                        <td>@item.DateRecorded</td>
                        <td>
                            @using (Html.BeginForm("Delete", "Requisitions", new { id = item.ID}, FormMethod.Post, new { id = $"delete_purchaseorder_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-red"
                                   data-toggle="confirmation"
                                   data-title="Remove @item.ReNumber from record?"
                                   data-btn-ok-label="Yes" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                   data-btn-cancel-label="No" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                   data-singleton="true"
                                   data-popout="true"
                                   href="javascript:document.getElementById('delete_purchaseorder_@item.ID').submit()">Remove</a>
                            }
                            @Html.ActionLink("RIS Items", "Index", "RequisitionDetails", new { id = item.ID }, htmlAttributes: new { @class = "badge bg-blue" })
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>RIS #</th>
                    <th>P.O #</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>