﻿@model IEnumerable<WebApplication.Models.PurchaseOrderDetail>


<div class="box box-primary box-solid">
    <div class="box-header with-border">
        
        <h1 class="box-title">List of all recorder stock Units</h1>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="units-all1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Item</th>
          
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Stock.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.Stock.Unit.UnitName)</td>
                        <td>
                            @using (Html.BeginForm("EditDetails", "PurchaseOrders", new { id = item.ID }, FormMethod.Post, new { id = $"update_purchaseorder_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-yellow"
                                   data-toggle="confirmation"
                                   title="Editing @item.Stock.Description"
                                   data-html="true"
                                   data-placement="top"
                                   data-singleton="true"
                                   data-popout="true"
                                   data-btn-ok-label="Update" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                   data-btn-cancel-label="Cancel" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                   data-content="
                                    
                                    <input type='hidden' name='StockID' id='StockID' value='@item.StockID' />
                                    <input type='number' name='Quantity' id='Quantity' class='form-control' value='@item.Quantity' />
                                    <input type='hidden' name='PurchaseOrderID' id='PurchaseOrderID' value='@item.PurchaseOrderID' />"
                                    href="javascript:document.getElementById('update_purchaseorder_@item.ID').submit()">Edit</a>
                            }
                            @using (Html.BeginForm("DeleteDetails", "PurchaseOrders", new { id = item.ID, poID = item.PurchaseOrderID}, FormMethod.Post, new { id = $"delete_purchaseorder_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-red"
                                   data-toggle="confirmation"
                                   data-title="Remove @item.Stock.Description from record?"
                                   data-btn-ok-label="Yes" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                   data-btn-cancel-label="No" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                   data-singleton="true"
                                   data-popout="true"
                                   href="javascript:document.getElementById('delete_purchaseorder_@item.ID').submit()">Remove</a>
                            }
                            
                        </td>

</tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Item</th>

                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")

}