﻿@model IEnumerable<WebApplication.Models.PurchaseOrder>


<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">List of all recorder stock Units</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="units-all" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>P.O. Number</th>
                    <th>P.R. Number</th>
                    <th>Purpose</th>
                    <th>Supplier Name</th>
                    <th>Supplier Address</th>
                    
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><b>@Html.DisplayFor(modelItem => item.PoNumber)</b></td>
                        <td><b>@Html.DisplayFor(modelItem => item.PurchaseRequest.PrNumber)</b></td>
                        <td>@Html.DisplayFor(modelItem => item.Purpose)</td>
                        <td>@Html.DisplayFor(modelItem => item.SupplierName)</td>
                        <td>@Html.DisplayFor(modelItem => item.SupplierAddress)</td>
                        
                        <td>@Html.DisplayFor(modelItem => item.DateRecorded)</td>
                        <td>
                            @using (Html.BeginForm("Edit", "PurchaseOrders", new { id = item.ID }, FormMethod.Post, new { id = $"update_purchaseorder_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-yellow"
                                    data-toggle="confirmation"
                                    title="Editing @item.PoNumber"
                                    data-html="true"
                                    data-placement="left"
                                    data-singleton="true"
                                    data-popout="true"
                                    data-btn-ok-label="Update" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                    data-btn-cancel-label="Cancel" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                    data-content="
                                   <div class='form-group'>
                                   
                                        <div class='col-md-12'>
                                            <input type='text' name='PoNumber' id='PoNumber' class='form-control' value='@item.PoNumber'>
                                        </div>
                                        

                                        <div class='col-md-12'>
                                            <select id='PurchaseRequestID' name='PurchaseRequestID' class='form-control'>
                                        
                                            @foreach (var u in ViewBag.PurchaseRequests)
                                            {
                                                <option value='@u.ID'  @(u.ID == item.PurchaseRequestID ? "selected":"")>
                                                    @u.PrNumber
                                                </option> 
                                            }
                                            </select>
                                        </div>
                                       
                                       

                                        <div class='col-md-8'>
                                           <input type='text' name='SupplierName' id='SupplierName' class='form-control' value='@item.SupplierName'>
                                        </div>
                                       <div class='col-md-12'>
                                           <input type='text' name='SupplierAddress' id='SupplierAddress' class='form-control' value='@item.SupplierAddress'>
                                       </div>
                                       <div class='col-md-12'>
                                           <input type='text' name='Purpose' id='Purpose' class='form-control' value='@item.Purpose'>
                                       </div>
                                       <div class='col-md-12'>
                                           <input type='text' name='DateRecorded' id='DateRecorded' class='form-control' value='@item.DateRecorded'>
                                       </div>
                                    </div>
                                           "
                                           href="javascript:document.getElementById('update_purchaseorder_@item.ID').submit()">Edit P.O.</a>
                            }

                          
                            
                            @using (Html.BeginForm("Delete", "PurchaseOrders", new { id = item.ID }, FormMethod.Post, new { id = $"delete_purchaseorder_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-red"
                                    data-toggle="confirmation"
                                    data-title="Remove @item.PoNumber from record?"
                                    data-btn-ok-label="Yes" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                    data-btn-cancel-label="No" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                    data-singleton="true"
                                    data-popout="true"
                                    href="javascript:document.getElementById('delete_purchaseorder_@item.ID').submit()">Remove P.O.</a>
                             }
                            
                            @Html.ActionLink("Add item", "PurchaseOrderDetails", new { id = item.ID}, htmlAttributes: new { @class = "badge bg-green" }) 
                            <hr />
                            @Html.ActionLink("Delivery", "Deliveries", new { id = item.ID }, htmlAttributes: new { @class = "badge bg-blue" })
                            @Html.ActionLink("Requisition", "Requisitions", new { id = item.ID }, htmlAttributes: new { @class = "badge bg-blue" })                                                 
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>P.O. Number</th>
                    <th>P.R. Number</th>
                    <th>Purpose</th>
                    <th>Supplier Name</th>
                    <th>Supplier Address</th>
                    
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")

}