﻿@model IEnumerable<WebApplication.Models.Requisition>


<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">List of all recorder stock Un        its</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="units-all" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Requisition #</th>
                    
                    <th>PO #</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReNumber)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseOrder.PoNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateRecorded)
                        </td>
                        <td>
                            
                            @using (Html.BeginForm("DeleteRequisitions", "PurchaseOrders", new { id = item.ID, poID = item.PurchaseOrderID }, FormMethod.Post, new { id = $"delete_purchaseorder_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-red"
                                    data-toggle="confirmation"
                                    data-title="Remove @item.ReNumber from record?"
                                    data-btn-ok-label="Yes" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                    data-btn-cancel-label="No" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                    data-singleton="true"
                                    data-popout="true"
                                    href="javascript:document.getElementById('delete_purchaseorder_@item.ID').submit()">Remove</a>
                             }
                            
                             @Html.ActionLink("RIS Items", "Index", "RequisitionDetails", new { id = item.ID }, htmlAttributes: new { @class = "badge bg-blue" })                                                  
                        </td>
                        
                            
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Requisition #</th>

                    <th>PO #</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")

}