﻿@model WebApplication.Models.PurchaseOrder

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu{
    <script type="text/javascript">
        var menuItem = $('#left-sidebar-menu-p6m');
        menuItem.addClass('active');
        var subMenuItem = menuItem.find('#left-sidebar-menu-p6m-po');
        subMenuItem.addClass('active');

        $(document).ajaxStart(function () {
            $("#loading").show();
        });

        $(document).ajaxComplete(function () {
            $("#loading").hide();
        });
    </script>
}
@Styles.Render("~/Content/plugins/datatables/css")

<div class="row">
    <div class="col-xs-9" id="po_list">
        <div class="col-xs-12 text-center" id="loading">
            <button type="button" class="btn btn-default btn-lrg ajax" title="Ajax Request">
                <i class="fa fa-spin fa-refresh"></i>&nbsp; Loading content...
            </button>
        </div>
    </div>



    <div class="col-xs-3">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Add Purchase Request</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                @using (Html.BeginForm("Create", "PurchaseOrders", FormMethod.Post, new { id = "form_add_purchaseorder" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.PurchaseRequestID, "PurchaseRequestID", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-12">
                                <select class="form-control" name="PurchaseRequestID" id="PurchaseRequestID">
                                    @foreach(var item in ViewBag.PurchaseRequest)
                                    {
                                        <option value="@item.ID">@item.PrNumber - @item.CostCenter.Description</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.PurchaseRequestID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-8">P.O. Number</label>
                            <div class="col-md-12">
                                <input type="text" name="PoNumber" id="PoNumber" class="form-control" data-inputmask='"mask": "##-##-###"' data-mask>
                                @Html.ValidationMessageFor(model => model.PoNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-8">Supplier Name</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-8">Supplier Address</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="2" id="SupplierAddress" name="SupplierAddress" placeholder="Address"></textarea>
                                @Html.ValidationMessageFor(model => model.SupplierAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                <textarea class="form-control" rows="3" name="Purpose" id="Purpose" placeholder="Purpose of P.O."></textarea>
                                @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- /.box-body -->
        </div>
    </div>


</div>
@section Scripts {

    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")
@Scripts.Render("~/Content/plugins/datatables/js")
@Scripts.Render("~/Scripts/jquery-validate/js")
    <script type="text/javascript">
        $(function () {

            $.ajax({
                url: '/PurchaseOrders/GetList',
                dataType: 'html',
                success: function (data) {

                    $('#po_list').html(data);

                    var table = $('#units-all').DataTable({
                        drawCallback: function () {
                            $('[data-toggle=confirmation]').confirmation({
                                rootSelector: '[data-toggle=confirmation]',
                                // other options
                            });
                        }
                    });

                }
            });


            $("#form_add_purchaseorder").validate({
                errorElement: "span",
                errorClass: "help-block text-red",
                submitHandler: function (vform) {
                    vform.submit();
                },
                rules: {
                    PoNumber: {
                        required: true,
                        minlength: 2
                    },
                    Purpose: {
                        required: true,
                        minlength: 2
                    },
                    SupplierName: {
                        required: true,
                        minlength: 2
                    },
                    SupplierAddress: {
                        required: true,
                        minlength: 2
                    }
                },
                messages: {
                    PoNumber: {
                        required: "Text field cannot be empty.",
                        minlength: jQuery.validator.format("At least {0} characters required!")
                    },
                    Purpose: {
                        required: "Text field cannot be empty.",
                        minlength: jQuery.validator.format("At least {0} characters required!")
                    },
                    SupplierName: {
                        required: "Text field cannot be empty.",
                        minlength: jQuery.validator.format("At least {0} characters required!")
                    },
                    SupplierAddress: {
                        required: "Text field cannot be empty.",
                        minlength: jQuery.validator.format("At least {0} characters required!")
                    }
                }
            });


        });
</script>
}