﻿@model WebApplication.Models.PurchaseOrderDetail

@{
    ViewBag.Title = "Purchase Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu{
    <script type="text/javascript">
        var menuItem = $('#left-sidebar-menu-p6m');
        menuItem.addClass('active');
        var subMenuItem = menuItem.find('#left-sidebar-menu-p6m-po');
        subMenuItem.addClass('active');

        $(document).ajaxStart(function () {
            $("#loading").show();
        });

        $(document).ajaxComplete(function () {
            $("#loading").hide();
        });
    </script>
}
@Styles.Render("~/Content/plugins/datatables/css")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h2 class="pull-left"><b>P.O. #: </b>@ViewBag.PO.PoNumber &nbsp;&nbsp;</h2>
                <h2 class="pull-left"><b>P.R. #:</b> @ViewBag.PO.PurchaseRequest.PrNumber</h2> <br />
                

                <div class="box-tools pull-right">
                    
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                </div>
                <div class="box-body with-border">

                   
                        <h4><b>Supplier: </b>@ViewBag.PO.SupplierName</h4>
                        <h4><b>Supplier Address:</b> @ViewBag.PO.SupplierAddress</h4>
                        <h4><b>Purpose:</b> @ViewBag.PO.Purpose</h4>
                        <h4><b>Date:</b> @ViewBag.PO.DateRecorded</h4>
                   
            </div>
        </div>
    </div>
    <div class="col-xs-8" id="podetail_list">

        <div class="col-xs-12 text-center" id="loading">
            <button type="button" class="btn btn-default btn-lrg ajax" title="Ajax Request">
                <i class="fa fa-spin fa-refresh"></i>&nbsp; Loading content...
            </button>
        </div>
    </div>



    <div class="col-xs-4">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Add Purchase Request</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                <form id="form_add_purchaseorder" method="post">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.StockID, "StockID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                <input type="hidden" name="PurchaseOrderID" id="PurchaseOrderID" value="@ViewBag.PO.ID" />

                                @Html.DropDownList("StockID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StockID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
    </div>


</div>
@section Scripts {

    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")
    @Scripts.Render("~/Content/plugins/datatables/js")
    @Scripts.Render("~/Scripts/jquery-validate/js")
    <script type="text/javascript">
        $(function () {

            $.ajax({
                url: '/PurchaseOrders/GetListDetail/@ViewBag.PO.ID',
                dataType: 'html',
                success: function (data) {

                    $('#podetail_list').html(data);

                    var table = $('#units-all1').DataTable({
                        drawCallback: function () {
                            $('[data-toggle=confirmation]').confirmation({
                                rootSelector: '[data-toggle=confirmation]',
                                // other options
                            });
                        }
                    });

                }
            });
            $('#form_add_purchaseorder').on("submit", function(event){
                event.preventDefault();
                var e = document.getElementById("StockID");
                var stock = e.options[e.selectedIndex].text;
                $.ajax({
                    url:"/PurchaseOrders/CheckDetails",
                    method:"POST",
                    data:$('#form_add_purchaseorder').serialize(),

                    success:function(data){
                        if(data == "0"){
                          if(confirm(stock+" is already in list. Add quantity instead?"))
                          {
                             execute();
                          }
                          else
                          {

                          }
                        }
                    }

                });

            });
            function execute()
            {
                $.ajax({
                    url:"/PurchaseOrders/CreateDetails",
                    method:"POST",
                    data:$('#form_add_purchaseorder').serialize(),

                    success:function(data){
                        if(data == "done")
                        {
                            
                        }
                    }

                });
            }
            $("#form_add_purchaseorder").validate({
                errorElement: "span",
                errorClass: "help-block text-red",
                submitHandler: function (vform) {
                    vform.submit();
                },
                rules: {
                    Quantity: {
                        required: true,
                        minlength: 1
                    }
                },
                messages: {
                    Quantity: {
                        required: "Text field cannot be empty.",
                        minlength: jQuery.validator.format("At least {0} characters required!")
                    }
                }
            });

        });
    </script>
}