﻿@using WebApplication.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Supply Office IS | MSU Naawan</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("DashboardV1", "Home")" class="logo">
                <span class="logo-mini"><b>So</b>iS</span>
                <span class="logo-lg"><b>Supply</b>Office</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.GetUserNameIdentifier()</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li id="left-sidebar-menu-dataEntry" class="treeview">
                        <a href="#">
                            <i class="fa fa-fw fa-industry"></i>
                            <span>Data Entry</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="left-sidebar-menu-dataEntry-ris"><a href="@Url.Action("Index", "Requisitions")"><i class="fa fa-fw fa-minus-circle"></i> R.I.S.</a></li>
                            <li id="left-sidebar-menu-dataEntry-del"><a href="@Url.Action("Index", "Deliveries")"><i class="fa fa-fw fa-plus-circle"></i> Manage Delivery</a></li>
                            <li id="left-sidebar-menu-dataEntry-po"><a href="@Url.Action("Index", "PurchaseOrders")"><i class="fa fa-fw fa-book"></i> Manage P.O.</a></li>
                            <li id="left-sidebar-menu-dataEntry-pr"><a href="@Url.Action("Index", "PurchaseRequests")"><i class="fa fa-fw fa-book"></i> Manage P.R.</a></li>
                            <li id="left-sidebar-menu-dataEntry-stocks"><a href="@Url.Action("Index", "Stocks")"><i class="fa fa-fw fa-pencil-square"></i> Add/Update Stocks</a></li>
                            <li id="left-sidebar-menu-dataEntry-unit"><a href="@Url.Action("Index", "Units")"><i class="fa fa-fw fa-list-alt"></i> Manage Stock Units</a></li>
                            <li id="left-sidebar-menu-dataEntry-costcenter"><a href="@Url.Action("Index", "CostCenters")"><i class="fa fa-fw fa-list-alt"></i> Manage Cost Centers</a></li>
                        </ul>
                    </li>
                    <li id="left-sidebar-menu-supply" class="treeview">
                        <a href="#">
                            <i class="fa fa-th"></i> 
                            <span>Reports</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="left-sidebar-menu-report-stockCard"><a href="#"><i class="fa fa-circle-o"></i> Stock Card</a></li>
                        </ul>
                    </li>

                    <li class="header">Supply Office | Information System</li>
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0b
            </div>
            <strong>MINDANAO STATE UNIVERSITY | Naawan &copy; 2017 <a href="#">IT Services</a>.</strong> JLunas
        </footer>
    </div>

    @Scripts.Render("~/Scripts/jquery/js")
    @RenderSection("menu", required: false)
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @Scripts.Render("~/Content/plugins/bootstrap-confirmation/js")
    @Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
    @Scripts.Render("~/AdminLTE/plugins/fastclick/js")
    @Scripts.Render("~/Scripts/Shared/_Layout")
    @Scripts.Render("~/AdminLTE/dist/js")
    @Scripts.Render("~/Scripts/Shared/Custom")
    @RenderSection("scripts", required: false)
</body>
</html>