﻿@model IEnumerable<WebApplication.Models.PurchaseOrderDetail>


<div class="box box-primary box-solid">
    <div class="box-header with-border">
        
        <h1 class="box-title">List of Items from P.O #</h1>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="po-all-items" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Unit</th>
                    <th>Item</th>
                    <th>P.O Qty</th>
                    <th>Del Qty</th>
                    <th>Req Qty</th>
                    <th>Rem Qty</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Stock.Unit.UnitName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Stock.Description)</td>
                        <td class="text-center bg-blue">@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td class="text-center bg-green"></td>
                        <td class="text-center bg-yellow"></td>
                        <td class="text-center bg-red"></td>
                        <td>
                            @using (Html.BeginForm("Create", "RequisitionDetails", FormMethod.Post, new { id = $"form_add_requisitiondetails" }))
                            {
                                
                                    @Html.AntiForgeryToken()
                                    <a class="badge bg-green"
                                       data-toggle="confirmation"
                                       title="Enter Quantity (@item.Stock.Unit.UnitName) :"
                                       data-html="true"
                                       data-placement="top"
                                       data-singleton="true"
                                       data-popout="true"
                                       data-btn-ok-label="Ok ^_^" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                       data-btn-cancel-label="Cancel" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                       data-content="
                                        
                                        <input type='hidden' name='RequisitionID' id='RequisitionID' value='@ViewBag.reqID'>
                                        <input type='hidden' name='StockID' id='StockID' value='@item.StockID'>
                                        <input type='number' name='Quantity' id='Quantity' class='form-control'>"

                                       href="#">Acquire</a>
                               
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Unit</th>
                    <th>Item</th>
                    <th>P.O Qty</th>
                    <th>Del Qty</th>
                    <th>Req Qty</th>
                    <th>Rem Qty</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#form_add_requisitiondetails').on('submit', function (e) {

            $.ajax({
                url:"/RequisitionDetails/Create",
                method:"POST",
                data:$(this).serialize(),
                success:function(data){
                 if(data == "0")
                 {
                    if(confirm('Item already exist in list. Add quantity instead!!!'))
                    {
                        execute();
                    }

                 }
                 else
                 {
                    location.reload();
                 }

                }
            });
        
      });
      $("form[id='form_add_requisitiondetails']").on('confirmed.bs.confirmation', function (e) {

            $.ajax({
                url:"/RequisitionDetails/Create",
                method:"POST",
                data:$(this).serialize(),
                success:function(data){
                 if(data == "0")
                 {
                    if(confirm('Item already exist in list. Add quantity instead!!!'))
                    {
                        execute();
                    }

                 }
                 else
                 {
                    location.reload();
                 }

                }
            });
      });

      function execute()
      {
        $.ajax({
            url:"/RequisitionDetails/Create1",
            method:"POST",
            data:$('#form_add_requisitiondetails').serialize(),
            success:function(data){
                location.reload();

            }
        });
      }

    });

</script>

