﻿@model IEnumerable<WebApplication.Models.RequisitionDetail>


<div class="box box-primary box-solid">
    <div class="box-header with-border">
        
        <h1 class="box-title">Requisition History</h1>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="reqdetails" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Unit</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Action</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Stock.Unit.UnitName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Stock.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td>
                            @using (Html.BeginForm("Delete", "RequisitionDetails", new { id = item.ID, id1=ViewBag.Requisition.ID}, FormMethod.Post, new { id = $"delete_requisitiondetail_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-red"
                                   data-toggle="confirmation"
                                   data-title="Remove @item.Stock.Description from record?"
                                   data-btn-ok-label="Yes" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                   data-btn-cancel-label="No" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                   data-singleton="true"
                                   data-popout="true"
                                   href="javascript:document.getElementById('delete_requisitiondetail_@item.ID').submit()">Remove</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Unit</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>

}