﻿@model WebApplication.Models.RequisitionDetail

@{
    ViewBag.Title = "Requisition Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu{
    <script type="text/javascript">
        var menuItem = $('#left-sidebar-menu-p6m');
        menuItem.addClass('active');
        var subMenuItem = menuItem.find('#left-sidebar-menu-p6m-ris');
        subMenuItem.addClass('active');

        $(document).ajaxStart(function () {
            $("#loading").show();
        });

        $(document).ajaxComplete(function () {
            $("#loading").hide();
        });
    </script>
}
@Styles.Render("~/Content/plugins/datatables/css")

<div class="row">

    <div class="col-xs-7" id="po_items">
        <div class="col-xs-12 text-center" id="loading">
            <button type="button" class="btn btn-default btn-lrg ajax" title="Ajax Request">
                <i class="fa fa-spin fa-refresh"></i>&nbsp; Loading content...
            </button>
        </div>

    </div>
    <div class="col-xs-5" id="requisitionDetails_items">
        <div class="col-xs-12 text-center" id="loading">
            <button type="button" class="btn btn-default btn-lrg ajax" title="Ajax Request">
                <i class="fa fa-spin fa-refresh"></i>&nbsp; Loading content...
            </button>
        </div>

    </div>
</div>

@section Scripts {

    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")
    @Scripts.Render("~/Content/plugins/datatables/js")
    @Scripts.Render("~/Scripts/jquery-validate/js")

    <script>
        $(document).ready(function(){
            $('#del_items').DataTable();
        });

         $(function () {
            $.ajax({
                url: '/RequisitionDetails/GetPOList/@ViewBag.Requisition.PurchaseOrderID/@ViewBag.Requisition.ID',
                dataType: 'html',
                success: function (data) {

                    $('#po_items').html(data);

                    var table = $('#po-all-items').DataTable({
                        drawCallback: function () {
                            $('[data-toggle=confirmation]').confirmation({
                                rootSelector: '[data-toggle=confirmation]',
                                // other options
                            });
                        }
                    });

                }
            });


        });
        $(function () {
            $.ajax({
                url: '/RequisitionDetails/GetList1/@ViewBag.Requisition.ID',
                dataType: 'html',
                success: function (data) {

                    $('#requisitionDetails_items').html(data);

                    var table = $('#reqdetails').DataTable({
                        drawCallback: function () {
                            $('[data-toggle=confirmation]').confirmation({
                                rootSelector: '[data-toggle=confirmation]',
                                // other options
                            });
                        }
                    });

                }
            });


        });



    </script>
}