﻿@model IEnumerable<WebApplication.Models.Delivery>


<div class="box box-primary box-solid">
    <div class="box-header with-border">
        
        <h1 class="box-title">List of all Deliveries</h1>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="units-all1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>P.O #</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.PurchaseOrders.PoNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateRecorded)</td>
                        <td>
                            @Html.ActionLink("View/Edit Items", "PurchaseOrderDetails", "PurchaseOrders", new { id = item.PurchaseOrderID }, htmlAttributes: new { @class = "badge bg-orange" })
                            @Html.ActionLink("Deliver Items", "Index", "DeliveryDetails", new { id = item.ID }, htmlAttributes: new { @class = "badge bg-blue" })   
                        </td>

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>P.O #</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")

}