﻿@model WebApplication.Models.Delivery

@{
    ViewBag.Title = "Delivery";
    ViewBag.Subtitle = "All Deliveries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu{
    <script type="text/javascript">
        var menuItem = $('#left-sidebar-menu-p6m');
        menuItem.addClass('active');
        var subMenuItem = menuItem.find('#left-sidebar-menu-p6m-del');
        subMenuItem.addClass('active');

        $(document).ajaxStart(function () {
            $("#loading").show();
        });

        $(document).ajaxComplete(function () {
            $("#loading").hide();
        });
    </script>
}
@Styles.Render("~/Content/plugins/datatables/css")

<div class="row">
    <div class="col-xs-8" id="delivery_list">

        <div class="col-xs-12 text-center" id="loading">
            <button type="button" class="btn btn-default btn-lrg ajax" title="Ajax Request">
                <i class="fa fa-spin fa-refresh"></i>&nbsp; Loading content...
            </button>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Add Delivery</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="">
                @using (Html.BeginForm("Create", "Deliveries", FormMethod.Post, new { id = "form_add_delivery" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.PurchaseOrderID, "PurchaseOrderID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("PurchaseOrderID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PurchaseOrderID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DateRecorded, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DateRecorded, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateRecorded, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")
    @Scripts.Render("~/Content/plugins/datatables/js")
    @Scripts.Render("~/Scripts/jquery-validate/js")

<script type="text/javascript">
        $(function () {

            $.ajax({
                url: '/Deliveries/GetList',
                dataType: 'html',
                success: function (data) {

                    $('#delivery_list').html(data);

                    var table = $('#units-all1').DataTable({
                        drawCallback: function () {
                            $('[data-toggle=confirmation]').confirmation({
                                rootSelector: '[data-toggle=confirmation]',
                                // other options
                            });
                        }
                    });

                }
            });

            $("#form_add_delivery").validate({
                errorElement: "span",
                errorClass: "help-block text-red",
                submitHandler: function (vform) {
                    vform.submit();
                },
                rules: {
                    DateRecorded: {
                        required: true,
                        minlength: 8
                    }
                },
                messages: {
                    DateRecorded: {
                        required: "Text field cannot be empty.",
                        minlength: jQuery.validator.format("At least {0} characters required!")
                    }
                }
            });

        });
</script>
}