﻿@model IEnumerable<WebApplication.Models.Stock>


<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">List of all recorder stock Units</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="units-all" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Stock Code</th>
                    <th>@Html.DisplayNameFor(model => model.Description) </th>
                    <th>@Html.DisplayNameFor(model => model.Unit.UnitName)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.StockNumber)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => item.GetDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit.UnitName)
                        </td>
                        <td>
                            @using (Html.BeginForm("Edit", "Stocks", new { id = item.ID }, FormMethod.Post, new { id = $"update_stock_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-yellow"
                                    data-toggle="confirmation"
                                    title="Editing @item.Description"
                                    data-html="true"
                                    data-placement="top"
                                    data-singleton="true"
                                    data-popout="true"
                                    data-btn-ok-label="Update" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                    data-btn-cancel-label="Cancel" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                    data-content=" 
                                   <input type='text' name='Name' id='Name' class='form-control' value='@item.Name'/>
                                   <input type='hidden' name='StockNumber' id='StockNumber' class='form-control' value='@item.StockNumber' readonly/>
                                   <input type='text' name='Description' id='Description' class='form-control' value='@item.Description'/>
                                    <select id='Units_for_update' name='UnitID' class='form-control'>
                                        
                                    @foreach (var u in ViewBag.Units)
                                    {
                                        <option value='@u.ID'  @(u.ID == item.Unit.ID ? "selected":"")>
                                            @u.UnitName
                                        </option> 
                                    }
                                    </select>"
                                    href="javascript:document.getElementById('update_stock_@item.ID').submit()">Edit</a>
                            }

                          
                            
                            @using (Html.BeginForm("Delete", "Stocks", new { id = item.ID }, FormMethod.Post, new { id = $"delete_stock_{@item.ID}", @class = "form-group" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="badge bg-red"c
                                    data-toggle="confirmation"
                                    data-title="Remove @item.GetDescription from record?"
                                    data-btn-ok-label="Yes" data-btn-ok-icon="fa fa-fw fa-thumbs-o-up"
                                    data-btn-cancel-label="No" data-btn-cancel-icon="fa fa-fw fa-thumbs-o-down"
                                    data-singleton="true"
                                    data-popout="true"
                                    href="javascript:document.getElementById('delete_stock_@item.ID').submit()">Remove</a>
                             }                                                   
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    
                    <th>Stock Code</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Unit.UnitName)</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

