﻿@model WebApplication.Models.Stock

@{
    ViewBag.Title = "Stocks";
    ViewBag.SubTitle = "All Stocks";
   
}
@section Menu {

    <script type="text/javascript">
        var menuItem = $('#left-sidebar-menu-p6m');
        menuItem.addClass('active');
        var subMenuItem = menuItem.find('#left-sidebar-menu-p6m-stocks');
        subMenuItem.addClass('active');

        $(document).ajaxStart(function () {
            $("#loading").show();
        });

        $(document).ajaxComplete(function () {
            $("#loading").hide();
        });


    </script>
}
@Styles.Render("~/Content/plugins/datatables/css")

<div class="row">
    <div class="col-xs-8" id="stock_list">
        <div class="col-xs-12 text-center" id="loading">
            <button type="button" class="btn btn-default btn-lrg ajax" title="Ajax Request">
                <i class="fa fa-spin fa-refresh"></i>&nbsp; Loading content...
            </button>
        </div>
    </div>


    
    <div class="col-xs-4">
        <div class="box box-success box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Add new stock</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                @using (Html.BeginForm("Create", "Stocks", FormMethod.Post, new { id = "form_add_item" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Enter new Stock</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-3">Name</label>
                            
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @name = "Name", @placeholder="Item Name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Description</label>

                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @name = "Description", @placeholder = "Item Description" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.UnitID, "Unit", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("UnitID", null, htmlAttributes: new { @class = "form-control", @name="unit" })
                                @Html.ValidationMessageFor(model => model.UnitID, "", new { @class = "text-danger" })
                            </div>
                        </div>        
                        

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- /.box-body -->
        </div>
    </div>


</div>


@section Scripts {
    @Scripts.Render("~/Content/plugins/datatables/js")
    @Scripts.Render("~/Scripts/jquery-validate/js")

    <script type="text/javascript">
        $(function () {

            getlist();

            function getlist()
            {
                $.ajax({
                    url: '/Stocks/GetList',
                    dataType: 'html',
                    success: function (data) {

                        $('#stock_list').html(data);

                        var table = $('#units-all').DataTable({
                            drawCallback: function () {
                                $('[data-toggle=confirmation]').confirmation({
                                    rootSelector: '[data-toggle=confirmation]',
                                    // other options
                                });
                            }
                        });

                    }
                });

            }

            function submitform() {

                $.ajax({
                    url: '/Stocks/Create',
                    dataType: 'json',
                    data: $("#form_add_item").serialize(),
                    type: "post",
                    success: function (xhr, status, error) {
                        //alert("Something went wrong\n" + "status: " + status + "\nerror" + error + "\nxhr.status" + xhr.status + "\nchr.statusText" + xhr.statusText);
                        //if (xhr.status == 200)

                        var desc_dom = document.getElementById("Description");
                        desc_dom.value = "";

                        $("#UnitID").selectedIndex = 0;
                        getlist();
                        

                    }
                });
            }


            $("#form_add_item").validate({
                errorElement: "span",
                errorClass: "help-block text-red",
                submitHandler: function (vform) {
                    submitform();
                },
                rules: {
                    Name: {
                        required: true,
                        minlength: 3
                    },
                    Description: {
                        required: true,
                        minlength: 5
                    }
                },
                messages: {
                    Description: {
                        required: "Description field cannot be empty.",
                        minlength: jQuery.validator.format("At least {0} characters required!")
                    },
                    Name: {
                        required: "Name field cannot be empty.",
                        minlength: jQuery.validator.format("At least {0} characters required!")
                    }
                }
            });


        });
    </script>
}
